{% extends 'core/base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="pt-20 pb-10 text-center">
        <h1 class="text-4xl font-bold">THIS IS A TITLE</h1>
    </div>
    <div class="mx-10 py-6 text-center bg-gray-200 rounded-xl">
        <p class="text-xl px-5"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at sem magna. Maecenas ullamcorper nisl eros, at efficitur enim ultrices in. Curabitur vel odio eget ex maximus tincidunt vitae id augue. Pellentesque condimentum vitae quam at consequat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque ut ipsum at mauris blandit auctor. Phasellus interdum congue ullamcorper. Etiam porta orci est, sed dignissim dui vehicula pretium. Maecenas condimentum iaculis lectus, a rutrum elit mollis in. Pellentesque sollicitudin nulla orci, eget volutpat lorem elementum ut. Aliquam erat volutpat.</p>
    </div>

    <p>{{ response }}</p>
{% endblock %}